body {
    background-image: url("/static/coffee-journal.jpg");
    background-repeat: repeat;
    background-size: 100%, 100%;
}

button {
    font-family: 'Arial';
    color: white;
    text-shadow: 1px 0px 20px #edf0cc;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;
    outline: 0 none;
}