body {
    background-image: url("/static/row-buildings.jpeg");
    background-size: 100%, 100%;
    background-repeat: repeat;
}

.card {
    background-image: url("/static/lined-paper.jpg");
    background-size: 100%, 100%;
    background-repeat: repeat;
    margin-left: 50px;
    margin-bottom: 10px;
}

.heading {
    font-family: 'Arial';
    margin-left: 35px;
    margin-bottom: 25px;
    margin-top: 15px;
    color: white;
}

.card-title {
    padding-top: 10px;
    margin-bottom: 0px;
}

.card-body {
    padding-top: 0px;
}

.card-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}