body {
    background-image: url("/static/row-buildings.jpeg");
    background-size: 100%, 100%;
}


.heading {
    font-family: 'Arial';
    margin-left: 35px;
    margin-bottom: 25px;
    margin-top: 15px;
    color: white;
    text-shadow: 1px 0px 20px #f5bc72;
    -webkit-transition: 1s linear 0s;
    -moz-transition: 1s linear 0s;
    -o-transition: 1s linear 0s;
    transition: 1s linear 0s;
    outline: 0 none;
}

.card-title {
    padding-top: 10px;
    margin-bottom: 0px;
}

.card-body {
    padding-top: 0px;
}