{% extends 'layout.html' %}

{% block content %}
        {% if not current_user.is_anonymous %}
        <h1>Chicago Home Buyer's Journal</h1>
        <hr>
        <div class="col-3">
        <a href="{{ url_for('add') }}"><button style="margin-bottom: 10px;" type="button" class="btn btn-block btn-secondary btn-lg">Add a New Home</button></a>
        <a href="{{ url_for('view') }}"><button style="margin-bottom: 10px;" type="button"  class="btn btn-block btn-secondary btn-lg">View my Home Entries</button></a>
        <a href="{{ url_for('map') }}"><button style="margin-bottom: 10px;" type="button" class="btn btn-block btn-secondary btn-lg" data-toggle="tooltip" data-placement="right"
                title="(for Chicago addresses)">Map it with Local Occurences</button></a>
        </div>
        {% else %}
        <h3>Please log in or register to create a journal</h3>
        {% endif %}

{% endblock %}
