{% extends 'layout.html' %}

{% block title %}
<title>Mortgage Calculator</title>
{% endblock %}

    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/calculate.css') }}">
    {% endblock %}

{% block content %}
    <div class="card col-sm-12 col-md-6">
         <h4 style="text-align:center" class="card-title">{{ address }}</h4>
    </div>


    
  <div class="col-sm-8 col-md-6">
    
    <form action="{{ url_for('calculator', taxes=taxes, id=id) }}" method="POST">
        <p>Do not leave any fields blank. If a field is not applicable, enter 0.</p>
        <div class="form-group">
            <label for="exampleFormControlInput1">Purchase Price</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="price"
                placeholder="250,000">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Down Payment Amount</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="down_payment"
                placeholder="25,000">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Interest Rate Percentage</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="rate"
                placeholder="3.5">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Loan Term (in years)</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="term"
                placeholder="30">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Monthly HOA Dues (if applicable)</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" name="dues" placeholder="200">
        </div>
        <button href="{{ url_for('calculator', taxes=taxes, id=id) }}" type="submit" class="btn btn-secondary btn-lg"> Submit </button>
    </form>
  </div>
 
{% endblock %}

    